@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Roboto:wght@100;300;400;700&display=swap');
/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===== HEADER ====*/

header {
    background-color: #FFF9DE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 28px;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 2.1rem;
    padding-right: 1.875rem;
    
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.475rem;
}

/* ==== BANNER PRINCIPAL ======*/

.fondo-main{
background-image: url(../assets/img/imagen-patasheader-index.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 700px;
display: flex;
justify-content: center;
flex-direction: column;
gap: 1.25rem;
}

.contenedor-titulo-principal{
    padding: 55px;
}

.fondo-main div h1{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3.125rem;
    width: 100%;
    margin-top: 3.75rem;
}
.fondo-main div p{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.8125rem;
    width: 55%;
    margin-top: 3.75rem;
    line-height: 3.125rem;
}

/* ==== NUESTROS SERVICIOS ======*/

.seccion-index-tamaño {
    width: 100%;
    height: 700px;
    padding: 20px 20px 60px 20px;
}

.titulo-main{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.1875rem;
}

.seccion-index-tamaño{
    width: 100%;
    height: 600px;
    padding: 20px 20px 60px 20px;
}
.seccion-index{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    margin-top: 2.5rem; 
}
.contenedor-index{
    text-align: center;
    padding: 20px 40px;
    
}
.contenedor-index a{
    text-decoration: none;
    color: black;
}
.contenedor-index h3{
    font-family: 'Roboto', sans-serif;
}
.seccion-index p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}


/* ==== ADOPTAME-MAIN ======*/

.fondo-adoptame-index{
    background-image: url(../assets/img/fondo-adoptame.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
}
.titulo-adoptame {
    position: absolute;
    right: 8%;
    top: 300px;
    width: 26%;
}

.titulo-adoptame h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 3.125rem;
    margin-bottom: 22px;
}

.titulo-adoptame p{
    font-size: 30px;
    text-align: initial;
    font-family: 'Roboto', sans-serif;
}

/* ==== SECCION QUIENES SOMOS / BANNER PRINCIPAL ======*/

.fondo-quienes-somos {
    background-image: url(../assets/img/quienes-somos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.contenedor-parrafo-quienes-somos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-parrafo-quienes-somos p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3.6875rem;
    width: 90%;
    text-align: center;
}

/* ==== SECCION QUIENES SOMOS / QUIENES SOMOS ======*/

.contenedor-quienes-somos {
    display: flex;
    justify-content: center!important;
    padding: 80px 0px;
}

.contenedor-elementos-qs {
    text-align: center;
    flex: 0 0 33%;
    padding: 0 30px;
}

.contenedor-elementos-qs h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1875rem;
    margin-top: 1.25rem;
    margin-bottom: 14px;
}

.contenedor-elementos-qs p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: 300;
}

/**VETERINARIO**/


.fondo-index{
    background-image: url(../assets/img/fondo-veterinario.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
}
.textos-main{
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 3.4375rem;
}
.textos-main h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.125rem;
    width: 100%;
    margin-top: 3.75rem;
}
.textos-main p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.8125rem;
    width: 60%;
    margin-top: 1.25rem;
    line-height: 3.125rem;
}
.seccion-index-tamaño-vet{
    width: 100%;
    height: 25rem;
}
.contenedor-veterinaria{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.875rem;
}

/**INICIAR SESION**/

.fondo-iniciar-sesion{
    background-image: url(../assets/img/fondo-iniciar-sesion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.titulo-formulario{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
}
.form-inicio-sesion form fieldset{
    border: none;
    display: flex;
    flex-direction: column; 
}
.form-inicio-sesion form fieldset label{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.form-inicio-sesion form fieldset label input{
    font-size: 1.25rem;
}
.submit{
    font-size: .75rem;
    margin-top: 2.8125rem;
}

/**FORMULARIO**/

.fondo-formulario{
    background-image: url(../assets/img/fondo-formulario.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.formulario{
    background-color: white;
    height: auto;
    padding: 1.25rem;
    padding-left: 20rem;
}
.titulo-form{
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    width: 100%;
    justify-content: left;
    
}
.formulario fieldset{
    border: none;
    display: flex;
    flex-direction: column; 
}
.formulario fieldset label{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    gap: .625rem;
    
}
.formulario fieldset label input{
    font-size: 2.5rem;
    height: 3.125rem;
    background-color: azure;
}

/**BUSCA TU PASEADOR**/

.fondo-buscatp{
    background-image: url(../assets/img/paseador/fondo-paseador.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.contenedor-buscatp{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    margin-top: 3.125rem;
    gap: 2.8125rem;
    margin-bottom: 4.0625rem;
}

.titulos-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulos-main img{
    margin-bottom: 1.25rem;
}
.titulos-main h2{
    font-family: 'Roboto', sans-serif;
}
.titulos-main p{
    font-family: 'Poppins', sans-serif;
    width: 70%;
}
.fondo-buscatp div{
    color: black;
}

/**BAÑO Y PELUQUERIA**/

.fondo-baño-y-pelu{
    background-image: url(../assets/img/fondo-bano-y-peluqeria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

/**ADOPTAME PAGINA**/

.fondo-adoptame{
    background-image: url(../assets/img/fotos-adopcion/fondo-adoptame.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

/* ==== FOOTER ======*/


footer{
    background-color: #FFF9DE;
    height: auto;
    padding-top: 33px;
}
.logo-footer{
    position: relative;
    top: 4.375rem;
}

.logo{
    width: 7.5rem;
}

.fb-ig{
    display: flex;
    justify-content: end;
    position: relative;
    top: 3.125rem;
    right: 11.875rem;
    gap: .5rem;
}

.fb-ig a img{
    height: 2.5rem;
    width: 2.5rem;
}

.contenedor-texto-footer {
    justify-content: end;
    display: flex;
}

.texto-footer {
    display: flex;
    justify-content: end;
    gap: 1.875rem;
    list-style: none;
    align-self: center;
    position: relative;
    right: 1.875rem;
    bottom: 4.375rem;
}

.texto-footer li a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.contactanos {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 3.125rem;
    right: 1.5rem;
}

.contactanos button {
    padding: 6px 12px;
}

.contactanos button a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
}

.info-footer {
    display: flex;
    gap: 0.9375rem;
    justify-content: center;
    position: relative;
    bottom: 1.25rem;
}
.info-footer li {
    font-family: 'Poppins', sans-serif;
    font-size: .75rem;
    text-decoration: none;
    list-style: none;
}


/* ==== FOOTER 2 ======*/


.footer_2 {
    background-color: #FFF9DE;
    height: auto;
    display: flex;
    width: 94%;
    margin: 0 auto;
}

.contenerdor_footer_1{
	flex: 0 0 20%;
}
.contenerdor_footer_2{
	flex: 0 0 80%;
}
.contenerdor_footer_3 {
    flex: 0 0 100%;
}

.logo-footer_2 {
    position: initial;
}

.contactanos_2 button {
    padding: 6px 12px;
}

.contactanos_2 button a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.fb-ig_2 {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.fb-ig_2 a img {
    width: 2.5rem;
}

.info-footer_2 {
    display: flex;
    gap: 0.9375rem;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

.info-footer_2 li {
    font-family: 'Poppins', sans-serif;
    font-size: .75rem;
    text-decoration: none;
    list-style: none;
}

.texto-footer_2 {
    display: flex;
    justify-content: end;
    gap: 1.875rem;
    list-style: none;
}

.texto-footer_2 li a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}
.contactanos_2{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

@media (max-width: 768px)
{
    /**NAVBAR**/
    
    .navbar{
        gap: .625rem;
        margin-bottom: 0;
    }
    .navbar li a{
        font-size: 1.1875rem;
    }

    /**INDEX**/
    .fondo-main{
        background-size: cover;
        background-position: top;
        height: 28.125rem;
    }   
    .contenedor-titulo-principal{
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-left: 2.6875rem;
    }
    .fondo-main div h1{
        font-size: 2.25rem;   
        width: 50%;
        text-align: start;
        margin-top: 1.125rem;
    }
    .fondo-main div p{
        font-size: 1.25rem;
        text-align: start;
        line-height: 1.5;
        margin-top: .5rem;  
    }
    .titulo-main{
        font-size: 1.875rem
    }
    .seccion-index-tamaño{
        height: auto;
    }
    .seccion-index{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .fondo-adoptame-index{
        background-size: cover;
        background-position: center;
        height: 31.25rem;
    }
    .titulo-adoptame{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: -8.75rem;
        margin-right: -3.25rem;
        width: 39%;
            
    }
    .titulo-adoptame h2{
        font-size: 2.5rem;
        }
    .titulo-adoptame p{
        font-size: 1.25rem;  
    }    
    footer{
        padding-top: 0;
    }
    .footer_2{
        padding-top: 1.875rem;
    }
    .logo-footer_2 img{     
        height: 5.625rem;
        width: 5.625rem;
    }
    .texto-footer_2{
        gap: .75rem; 
    }
    .texto-footer_2 li a{
        font-size: .9375rem;
    }
    .contactanos_2 button a{
        font-size: .75rem;
    }
    .fb-ig_2 a img{
        height: 1.25rem;
        width: 1.25rem;
    }
    .info-footer_2{
        padding: 0;
        margin-bottom: 0;
    }
    .info-footer_2 li{ 
        font-size: .625rem;
    }
}
@media (max-width: 480px)
{ 
    /**NAVBAR**/
    .navbar{
        display: flex;
        gap: .625rem;
        padding-right: .875rem;
        margin-bottom: 0;
    }
    .navbar li a{
        font-size: .75rem;
    }
    .logo-mobile{
        height: 3.75rem;
    }
    /**INDEX**/
    .fondo-main{
        background-size: cover;
        background-position: top;
        height: 21.875rem;   
    }
    .fondo-adoptame-index{
        background-size: contain;
        background-position: center;
    }
    .contenedor-titulo-principal{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: -0.625rem;
        margin-left: -0.625rem;
    }
    .fondo-main div h1{
        font-size: 1.25rem;   
    }
    .fondo-main div p{
        font-size: 1.125rem;
        line-height: normal;
        width: 60%;
    }
    .titulo-main{
        font-size: 1.875rem;
    }
    .seccion-index-tamaño{
        height: 96.875rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .seccion-index{
        display: flex;
        flex-direction: column;
    }
    .fondo-adoptame-index{
        background-size: cover;
        background-position: top;
        height: 18.75rem;
    }
    .titulo-adoptame{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: -15rem;
        margin-right: -2.1875rem;
        width: 11.5625rem;
        
    }
    .titulo-adoptame h2{
        font-size: 1.875rem;
    }
    .titulo-adoptame p{
        font-size: .9375rem;  
    }
    /**FOOTER**/
    .logo-footer_2 img{     
        height: 3.75rem;
        width: 3.75rem;
    }
    .texto-footer_2{
        gap: .75rem; 
    }
    .texto-footer_2 li a{
        font-size: .9375rem;
    }
    .contactanos_2 button a{
        font-size: .75rem;
    }
    .fb-ig_2 a img{
        height: 1.25rem;
        width: 1.25rem;
    }
    .info-footer_2{
        padding: 0;
        margin-bottom: 0;
    }
    .info-footer_2 li{ 
        font-size: .625rem;
    }

    /**VETERINARIO**/
    .logo-mobile{
        height: 3.75rem;
    }
    .fondo-index{
        background-size: contain;
        background-position: top;
        height: auto;   
    }
    .textos-main h1{
        font-size: 1.875rem;
    
    }
    .textos-main p{
        font-size: 1.25rem;
        line-height: normal;
        width: 100%;
    }
    .titulo-main{
        font-size: 1.5rem;
    }
    .seccion-index-tamaño-vet{
        height: auto;
    }
    .contenedor-veterinaria{
        display: flex;
        flex-direction: column;
    }
    .contenedor-veterinaria div a img{
        height: 11.875rem;
    }

    /**QUIENES SOMOS**/
    .logo-mobile{
        height: 3.75rem; 
    }
    .fondo-quienes-somos{
        background-size: contain;
        background-position: top;
        height: 18.575rem;
    }
    .contenedor-parrafo-quienes-somos p{
        font-size: 1.25rem;
    }
    .contenedor-quienes-somos{
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
    }   
}