
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Roboto:wght@100;300;400;700&display=swap');
@import "./layout/header";
@import "./layout/main/main-index";
@import "./layout/main/main-adoptame";
@import "./layout/main/main-bano-y-pelu";
@import "./layout/main/main-busca-tp";
@import "./layout/main/main-formulario";
@import "./layout/main/main-iniciar-sesion";
@import "./layout/main/main-quienes-somos";
@import "./layout/main/main-veterinario";
@import "./components/botones";
@import "./layout/footer";
@import "./layout/mediaqueries/1024px";
@import "./layout/mediaqueries/768px";
@import "./layout/mediaqueries/425px";
@import "./layout/mediaqueries/320px";








