.fondo-baño-y-pelu{
    background-image: url(../assets/img/fondo-bano-y-peluqeria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
