.fondo-formulario{
    @extend .fondo-adoptame;
    background-image: url(../assets/img/fondo-formulario.jpg);
    height: 37.5rem;
    align-items: center;
}
.color-fondo{
    background-color: #fff9de90;
}