.fondo-vet{
    @extend .fondo-adoptame;
    background-image: url(../assets/img/fondo-veterinario.jpg);
    gap: 1.25rem;
}
.textos-main{
    color: $color-font-white;
    @include flex(column, none, center, 0);
    padding: 3.4375rem;
    background-color: $color-de-fondo-texto-main;
    h1{
        font-family: $tipografia-roboto;
        font-size: 3.125rem;
        width: 100%;
        margin-top: 3.75rem;    
    }
    p{
        font-family: $tipografia-poppins;
        font-weight: 300;
        font-size: 2.8125rem;
        width: 60%;
        margin-top: 1.25rem;
        line-height: 3.125rem;
    }
}
.seccion-index-tamaño-vet{
    width: 100%;
    height: 25rem;
}
.contenedor-veterinaria{
    @include flex (none, center, space-between, 0);
    margin: 1.875rem; 
}