.fondo-adoptame{
    @include background(url(../assets/img/fotos-adopcion/fondo-adoptame.jpg),center, no-repeat, cover, 100%, 43.75rem);
    @include flex(column, none, center, 0);
}
.contenedor-adoptame{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    margin-top: 3.125rem;
    gap: 2.8125rem;
    margin-bottom: 4.0625rem;
}