.fondo-main{
    @include background(url(../assets/img/imagen-patasheader-index.jpg), center, no-repeat, cover, 100%, 43.75rem);
    @include flex(column, none, center, 1.25rem);
}

.fondo-main{
    div{
        padding: 3.4375rem;
        background-color: $color-de-fondo-texto-main;
        h1{
            align-items: center;
            color: $color-font-white;
            font-family: $tipografia-roboto;
            font-size: 3.125rem;
            width: 100%;
            margin-top: 3.75rem;
        }
        p{
            align-items: center;
            color: $color-font-white;
            font-family: $tipografia-poppins;
            font-weight: 300;
            font-size: 2.8125rem;
            width: 55%;
            margin-top: 3.75rem;
            line-height: 3.125rem;
        }
    }
}
.seccion-index-tamaño{
    width: 100%;
    height: auto;
    padding: 20px 20px 60px 20px;
}
.titulo-main{
    @include flex(column, center, center, 0);
    margin-top: 2.1875rem;
    font-family: $tipografia-roboto;
    color: black;
    font-size: 2.3125rem;
}
.seccion-index{
    display: flex;
    margin-top: 2.5rem;
    p{
        font-family: $tipografia-poppins;
        font-size: 1rem;
    }
}
.contenedor-index{
    text-align: center;
    padding: 20px 40px;
    a{
        text-decoration: none;
        color: black;
    }
    h3{
        font-family: $tipografia-roboto
    }     
}