.fondo-buscatp{
    background-image: url(../assets/img/paseador/fondo-paseador.jpg);
    @extend .fondo-adoptame;
}

.titulos-main{
    @include flex(column, center, center,0);

    img{
        margin-bottom: 1.25rem;
    }
    h2{
        font-family: $tipografia-roboto;
    }
    p{
        font-family: $tipografia-roboto;
    width: 70%;
    }
}
.contenedor-buscatp{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    margin-top: 3.125rem;
    gap: 2.8125rem;
    margin-bottom: 4.0625rem;
}
.img{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    &:hover .whatsapp-link{
        opacity: 1;
    }
    &:hover::before{
        opacity: 1;
        border-radius: 50%;
    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
        transition: transform 0.3s;
    }
}
    
.whatsapp-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}


