.fondo-quienes-somos{
    background-image: url(../assets/img/mati-y-peque.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenedor-parrafo-quienes-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-de-fondo-texto-main;
    p{
        color: $color-font-white;
        font-family: $tipografia-poppins;
        font-size: 3.6875rem;
        width: 90%;
        text-align: center;
    }   
}
.contenedor-quienes-somos{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    gap: 3.75rem;
}
.contenedor-elementos-qs{
    text-align: center;
    flex: 0 0 33%;
    padding: 0 30px;
    h2{
        font-family: $tipografia-roboto;
        font-size: 2.1875rem;
        margin-top: 1.25rem;
        margin-bottom: 14px;
    }
    p{
        font-family: $tipografia-poppins;
        font-size: 1.2rem;
        line-height: 28px;
        font-weight: 300;
    }
}