.fondo-iniciar-sesion{
    @extend .fondo-adoptame;
    background-image: url(../assets/img/fondo-iniciar-sesion.jpg);
    height: 31.25rem; 
    align-items: center;
}
.titulo-formulario{
    color: $color-font-white;
    font-family: $tipografia-roboto;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
}
.form-inicio-sesion{
    form{
        fieldset{
            border: none;
            display: flex;
            flex-direction: column;
            label{
                @include flex(column, center, none, 0);
                color: $color-font-white;
                font-family: $tipografia-poppins;
                input{
                    font-size: 1.25rem;
                }
            }
        }
    }
}
.submit-is{
    font-size: .75rem;
    margin-top: 2.8125rem;
}