@media (max-width:320px){

.logo-navbar{
    max-width: 8.125rem;
    height: auto;
}
.contenedor-titulo-principal{
    padding: 0;
    align-items: center;
}
.fondo-main{
    div{
        p{
            width: 90%;
        }
    }
}
.seccion-index-tamaño{
    height: auto;
}
.contenedor-index{
    a{
        img{
            max-width: 11.25rem;
            height: auto;
        }
    }
}
.contenedor-texto-footer{
    ul{
        li{
            a{
                font-size: .75rem;
            }
        }
    }
}
.info-footer-2{
    li{
        font-size: .5rem;
    }
}
.textos-main{
    padding: 0;
    margin: 0;
}
.fondo-quienes-somos{
    padding: 0;
    align-items: center;
}
.contenedor-quienes-somos{
    margin-top: 5rem;
}
.contenedor-parrafo-quienes-somos{
    p{
        margin-bottom: .9375rem;
    }
}
.contactanos-2{
    button{
        padding-top: .0625rem;
    }
}
.fondo-formulario{
    height: auto;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}
.error{
    background-position-x: -4rem;
    height: 37.5rem;
    div{
        margin: 25px 0 0 0;
        text-align: center;
        h1{
            font-family:'Roboto', sans-serif;
            font-size: 1.875rem;
            font-weight: 700;
            margin-bottom: 21.875rem;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 1.25rem;
            width: auto;
            margin: 0px 2.1875rem;
            margin-bottom: 0;
        }
    }
}
}
