@media (max-width: 507px){

.contenedor-adoptame{
    display: flex;
    flex-direction: column;
}

.contenedor-buscatp{
    display: flex;
    flex-direction: column;
}
.error{
    background-position-x: left;
    height: 43.75rem;
    div{
        margin: 35px 0 0 0;
        text-align: center;
        h1{
            font-family:'Roboto', sans-serif;
            font-size: 1.875rem;
            font-weight: 700;
            margin-bottom: 21.875rem;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 1.875rem;
            width: 100%;
            margin: 0 1.875rem o 1.875rem;
            margin-bottom: 0;
        }
    }
}
}