@media (max-width:768px){
    
.navbar{
    gap: .625rem;
    margin-bottom: 0;
    li a{
        font-size: 1.1875rem;
    }
}
.fondo-main{
    background-size: cover;
    background-position: top;
    height: 28.125rem;
    div{   
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 2.25rem;   
            width: 80%;
            text-align: center;
            margin-top: 1.125rem;
        }
        p{
            font-size: 1.25rem;
            text-align: center;
            line-height: 1.5;
            margin-top: .5rem;
            width: 80%;
        }
    } 
}   
.titulo-main{
    font-size: 1.875rem
}
.seccion-index-tamaño{
    height: auto;
}
.seccion-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
footer{
    padding-top: 0;
}
.footer-2{
    padding-top: 1.875rem;
}
.logo-footer-2{
    img{
        height: 5.625rem;
        width: 5.625rem;
    }
}
.contactanos-2{
    button{
        a{
            font-size: .75rem;
        }
    }
}
.fb-ig-2{
    a{
        img{
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}
.info-footer-2{
    padding: 0;
    margin-bottom: 0;
    li{
        font-size: .625rem;
    }
}
.contenedor-texto-footer{
    gap: 10p;
    ul{
        margin-right: .9375rem;
        li{
            a{
                font-size: .8125rem;
                gap: .75rem;
            }
        }
    }
}
.contenerdor-footer-3{
    padding-bottom: .9375rem;
}
.fondo-quienes-somos{
    background-size: cover;
    background-position: top;
    height: 28.125rem;   
}
.contenedor-parrafo-quienes-somos{
    p{
        font-size: 2.5rem;
    }
}
.contenedor-quienes-somos{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}
.fondo-vet{
    background-size: cover;
    background-position: top;
    height: 28.125rem;
    color: $color-font-white;
    h1{
        font-size: 2.25rem;   
        width: 100%;
        text-align: center;
        margin-top: 1.125rem;
    }
    p{
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.5;
        margin-top: .5rem;
        width: 100%;
    }
}
.seccion-index-tamaño-vet{
    height: auto;
}
.contenedor-veterinaria{
    display: flex;
    flex-direction: column;
}
.fondo-buscatp{
    background-size: cover;
    background-position: top;
    height: 28.125rem;
    h1{
        font-size: 2.25rem;   
        text-align: center;
        margin-top: 1.125rem;
    }
    p{
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.5;
        margin-top: .5rem;
        width: 100%;
    }
}
.contenedor-buscatp{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    margin-top: 3.125rem;
    gap: 2.8125rem;
    margin-bottom: 4.0625rem;
}
.fondo-baño-y-pelu{
    background-size: cover;
    background-position: top;
    height: 28.125rem;
    h1{
        font-size: 2.25rem;   
        width: 100%;
        text-align: center;
        margin-top: 1.125rem;    
    }
    p{
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.5;
        margin-top: .5rem;
        width:100%;
    }
}
.fondo-adoptame{
    background-size: cover;
    background-position: top;
    height: 28.125rem;
    h1{
        font-size: 2.25rem;   
        width: 100%;
        text-align: center;
        margin-top: 1.125rem;
    }
    p{
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.5;
        margin-top: .5rem;
	    width:100%;
    }
}
.textos-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px 2.5rem;
    background-color: $color-de-fondo-texto-main;
}
.contenedor-adoptame{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}
.error{
    background-size: cover;
    height: 43.75rem;
    div{
        margin-left: 20rem;
        margin-bottom: 3.75rem;
        h1{
            font-family:'Roboto', sans-serif;
            font-size: 2.0625rem;
            font-weight: 700;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 1.875rem;
            width: 100%;
        }
    }
}
}