footer{
    background-color: $color-sitio-web;
    height: auto;
}
.logo-footer-2{
    img{
        max-width: 7.5rem;
    } 
}

.contenedor-texto-footer{
    display: flex;
    justify-content: end;
    ul{
        display: flex;
        justify-content: end;
        gap: 1.875rem;
        list-style: none; 
        margin-right: 1.25rem; 
            li{
                a{
                    font-family: $tipografia-poppins;
                    font-size: 1.2rem;
                    color: black;
                    text-decoration: none;
                }         
            }
    }
}
.contactanos-2{
    display: flex;
    justify-content: end;
    

    button{
        padding: 6px 12px;
        border-radius: 1.25rem;
        background-color: rgb(211, 209, 209);
        margin-right: 1.25rem;
        border: none;
        a {
            text-decoration: none;
            color: black;
            font-family: $tipografia-roboto;
            font-size: 1.1rem;
        }
    }
}
.fb-ig-2{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1.25rem;
    a{
        img{
            height: 1.875rem;
        }
    }
}
.info-footer-2{
    display: flex;
    gap: 0.9375rem;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: .3125rem; 
    padding-left: 0;
    li{
        font-family: $tipografia-poppins;
        font-size: .75rem;
        text-decoration: none;
        list-style: none;        
    }
}