.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #d8c284;
    background-size: 400%;
    color: #fff;
    border: none;
    a{
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
        &:hover{
            color: black;
        }
    }
    &:hover::before {
        transform: scaleX(1);
    }
    &-content {
        position: relative;
        z-index: 1;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(90deg, #F9E58E 0%, rgba(252,176,69,1) 100%);
        transition: all 0.475s;
    }
}